.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  padding: 10px;

  flex-direction: column;
}
.mt-3{
  display: flex;
  flex-direction: row;
  
}
.card{
  background-color: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
   
    box-shadow: 0 0 5px #1034ff;
    
}

p{
  margin-top: 30px;
  margin-right: 20px;
}
body{
  background-color: rgba(24, 44, 83, 0.463);
}